# Large data files
data/PPint/interface_data.csv
data/blast_dbs/uniprotkb_taxonomy_id_9606_2025_11_04.fasta

#blast database files
data/blast_dbs/*

# BLAST database files
*.phr
*.pin
*.psq
*.pot
*.ptf
*.pto
*.pdb

# Virtual environment
lab_env/

# macOS system files
.DS_Store
**/.DS_Store

